
<div *ngIf="prenotazione" class="card">

  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Dettaglio prenotazione</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close.emit()"></button>
  </div>
  
  <div class="card-body">
    <ul class="prenotazione-details">
      <li class="list-header">
        <span class="list-cell">Tipo di visita</span>
        <span class="list-cell">Data</span>
        <span class="list-cell">Orario</span>
      </li>
      <li class="list-row">
        <span class="list-cell"><strong>{{ prenotazione.tipoVisita }}</strong></span>
        <span class="list-cell"><strong>{{ prenotazione.data }}</strong></span>
        <span class="list-cell"><strong>{{ prenotazione.orario }}</strong></span>
      </li>
    </ul>

    <div class="d-flex justify-content-center gap-2 mt-3">
      <button class="btn btn-dark" (click)="editPrenotazione()">Modifica</button>
      <button class="btn btn-danger" (click)="deletePrenotazione()">Elimina</button>
    </div>
  </div>

</div>