
<div class="container mt-5">

    <h3>Contatti telefonici</h3>
    <p>Telefono: 06 1234567</p>
    <p>Telefono: 06 12345678</p>

    <h3>Email</h3>
    <p>Email: email.com</p>

    <h3>Orari di apertura struttura</h3>
    <p>da Lunedì a Venerdì: dalle 07.30 alle 19.30</p>
    <p>il Sabato: dalle 07.30 alle 15.30</p>

    <h3>Orari di apertura sportello prenotazioni</h3>
    <p>da Lunedì a Venerdì: dalle 08.00 alle 19.00</p>
    <p>il Sabato: dalle 08.00 alle 15.00</p>

    <h3>Indirizzo</h3>
    <p>Santa Lucia del Mela, Città metropolitana di Messina, Sicilia</p> 

    <div #mapContainer style="height: 400px; width: 100%;"></div> <br>

    <div class="social-icons">
        <h3>I nostri social: </h3>
        <a href="https://www.instagram.com" target="_blank">
            <img src="/images/instagram.png" alt="Instagram" width="30">Instagram
        </a>
        <a href="https://www.facebook.com" target="_blank">
            <img src="/images/fb.png" alt="Facebook" width="30">Facebook
        </a>
    </div> <br>
      
      

</div>

