
body {
    background: linear-gradient(to bottom, #fff, #f5f5f5);
    font-family: 'Arial', sans-serif;
}

.titolo {
    color: black;
    font-weight: bold;
}

.visita-box {
    background-color: white;
    border-left: 5px solid orange;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out;
}

.visita-box:hover {
    transform: scale(1.03);
}

.visita-tipo {
    color: orange;
    font-size: 1.2rem;
    font-weight: bold;
}

.visita-descrizione {
    color: black;
    font-size: 0.95rem;
    opacity: 0.8;
}

.btn-dettagli {
    display: block;
    width: 100%;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid lightgray;
    padding: 8px 12px;
    border-radius: 8px;
}

.btn-dettagli:hover {
    background-color: black;
    color: orange;
}
