
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: larger;
}

a:hover {
  color: rgb(128, 76, 12);
}

.navVoices:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.logo {
  height: 70px;
  width: auto;
}

.login-link {
  color: green;
}

.login-link:hover {
  color: greenyellow;
}

.logout-link {
  color: red;
}

.logout-link:hover {
  color: darkred;
}

nav button {
  padding: 0; 
  cursor: pointer; 
  border: none; 
  border-radius: 50%; 
  width: 30px; 
  height: 30px; 
  display: flex; 
  justify-content: center; 
  margin: 0 10px; 
}



