
<div class="w-100 p-2 d-flex justify-content-between align-items-center fixed-top" style="background-color: black;">
    <div class="d-flex align-items-center mx-2">
        <img src="/images/logo11.png" alt="logo" style="height: 70px; width: auto;">
    </div>

    <div class="d-flex">
        <div class="mx-2">
            <a href="/homepage">Homepage</a>
        </div>

        <div class="mx-2">
            <a *ngIf="isAuthenticated(); else loginLink" routerLink="/login" (click)="logout()" class="logout-link">Logout</a>
            <ng-template #loginLink>
              <a routerLink="/login" class="login-link">Login</a>
            </ng-template>
        </div>
          
        <div class="mx-2">
            <a href="/register">Registrati</a>
        </div>

        <div class="mx-2">
            <a href="/contacts">Contatti</a>
        </div>

        <div class="mx-2">
            <a href="/visit-list">Visite Mediche</a>
        </div>

        <div class="mx-2">
            <a href="/user-profile">Area Personale</a>
        </div>

        <!-- <div class="mx-2">
            <a href="/availability-calendar">Calendario Disponibilità</a>
        </div> -->

        <!-- <div class="mx-2">
            <a href="/booking-details">Dettaglio Prenotazione</a>
        </div> -->

    </div>
</div>


<router-outlet />